body{
    font-family: sans-serif;
}
.friends_slider {
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    margin: 80px 0px 0px 0px;
    display: flex;
    align-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    overflow: auto;
    color: white;
}

.friends_slider::-webkit-scrollbar {
    height: 3px;
}

.friends_slider::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
.dummy {
    flex: 1 0 auto;
    text-align: center;
    background-color: black;
    width: 150px;
    margin: 20px 40px 20px 40px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    transition: 0.2s;
}

.message_button {
    font-weight: bolder;
    background-color: #009ACD;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
.dummy:hover{
    transform: scale(1.05);
}

.inner_wrapper{
    margin: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.dummy_post{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    height: 400px;
    width: 80%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.dummy_friend {
    margin-top: 20px;
    width: 80%;
    height: 100px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background-color: white;
}
.friends {
    display: flex;
    margin-right: 5%;
    width: 30%;
    flex-direction: column;
    align-items: center;
}
.posts{
    width: 60%;
    margin-left: 5%;
}
.friends::-webkit-scrollbar {
    height: 3px;
}

.friends::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

@media screen and (max-width: 800px){
    .inner_wrapper {
        flex-direction: column-reverse;
    }

    .friends {
        width: 100%;
        flex-direction: row;
        overflow: auto;
    }

    .posts {
        width: 100%;
        margin: 0;
    }

    .dummy_friend {
        flex: 1 0 auto;
        width: 200px;
        height: 250px;
        margin: 20px 0px 20px 20px;
    }
}
@media screen and (max-device-width: 800px){
    .inner_wrapper {
        flex-direction: column-reverse;
    }
    .friends {
        width: 100%;
        flex-direction: row;
        overflow: auto;
    }
    .posts{
        width: 100%;
        margin: 0;
    }
    .dummy_friend {
        flex: 1 0 auto;
        width: 200px;
        height: 250px;
        margin: 20px 0px 20px 20px;
    }
}
