<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css">
	</head>
	<body>
		<div id="form_container">
			<h1>Please fill in your details</h1>
			<div id="loading">
				<div id="bar"></div>
			</div>
			<br>
			<form method="post">
				{% csrf_token %}
				<div id="inner">
					<div id="first">
						<input class="post_inputs" type="text" id="firstname" name="firstname" required placeholder="First name">
						<input class="post_inputs" type="text" id="lastname" name="lastname" required placeholder="Last name">
						<select id="gender" name="gender" class="custom_input post_inputs" required>
							<option value="" disabled selected> Select your gender</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="other">other</option>
						</select>
						<select id="religion" name="religion" class="custom_input post_inputs" required>
							<option value="" disabled selected style="color: grey"> Religion</option>
							<option value="Hindu">Hindu</option>
							<option value="Muslim">Muslim</option>
							<option value="Sikh">Sikh</option>
							<option value="Parsi">Parsi</option>
							<option value="Christian">Christian</option>
							<option value="Jain">Jain</option>
							<option value="Jewish">Jewish</option>
							<option value="Buddhist">Buddhist</option>
							<option value="Other">Other</option>
						</select>
						<input type="text" name="language" class="post_inputs" id="motherTongue" placeholder="Mother tongue" required>
						<input type="text" name="dob" id="dob" class="post_inputs" placeholder="  Date of birth" required onfocus="(this.type = 'date')" onblur="(this.type = 'text')" class="custom_input">
						<button id="next" type="button" onclick="next_form()"><i class="fas fa-arrow-circle-right"></i> Next</button>	
					</div>
					<div id="second">
						<p id="note">Maximum interests possible are 3 and each interest should be 20 characters or less</p>
						<input type="number" name="agepref" class="post_inputs" placeholder=" Age preference" min="18" max="100" required>
						<input type="text" name="qualification" class="post_inputs" placeholder=" Qualification" required>
						<div id="interests">
							<input type="text" id="interest-list" placeholder="Enter interests" maxlength="20">
							<span id="special" onclick="add_interests()"><i class="fas fa-plus-circle"></i></span>
						</div>
						<button id="previous" type="button" onclick="previous_form()"><i class="fas fa-arrow-circle-left"></i> Previous</button>
						<br>
						<button id="submit" type="button" onclick="submit_func()"><i class="fas fa-check-circle"></i> Submit</button>
					</div>
				</div>
			</form>
		</div>
		<script src="{% static 'js/form.js' %}"></script>
	</body>
</html>