{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>base</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
</head>
	<body>
		{% include 'accounts/temp_navbar.html' %}
		<div class="friends_slider">
			<div class="dummy">
				<img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150"/>
				<h5>Name</h5>
				<button class="message_button">Add friend</button>
			</div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Add friend</button>
            </div>
		</div>
        <div class="inner_wrapper">
            <div class="posts">
                <div class="dummy_post">
                    <div class="post_image">
                        <img src="{% static 'image/dummy_image.jpg' %}" class="post_image" width="100%" max-height="200">
                    </div>
                    <div class="comment-like-bar">
                        <span class="comment-like-bar-item"><i class="far fa-thumbs-up"></i> Like</span>
                        <span class="comment-like-bar-item"><i class="far fa-heart"></i> Love</span>
                        <span class="comment-like-bar-item"><i class="far fa-comments"></i> Comments</span>
                    </div>
                </div>
                <div class="dummy_post">
                    <div class="post_image">
                        <img src="{% static 'image/dummy_image.jpg' %}" class="post_image" width="100%" max-height="200">
                    </div>
                    <div class="comment-like-bar">
                        <span class="comment-like-bar-item"><i class="far fa-thumbs-up"></i> Like</span>
                        <span class="comment-like-bar-item"><i class="far fa-heart"></i> Love</span>
                        <span class="comment-like-bar-item"><i class="far fa-comments"></i> Comments</span>
                    </div>
                </div>
                <div class="dummy_post">
                    <div class="post_image">
                        <img src="{% static 'image/dummy_image.jpg' %}" class="post_image" width="100%" max-height="200">
                    </div>
                    <div class="comment-like-bar">
                        <span class="comment-like-bar-item"><i class="far fa-thumbs-up"></i> Like</span>
                        <span class="comment-like-bar-item"><i class="far fa-heart"></i> Love</span>
                        <span class="comment-like-bar-item"><i class="far fa-comments"></i> Comments</span>
                    </div>
                </div>
                <div class="dummy_post">
                    <div class="post_image">
                        <img src="{% static 'image/dummy_image.jpg' %}" class="post_image" width="100%" max-height="200">
                    </div>
                    <div class="comment-like-bar">
                        <span class="comment-like-bar-item"><i class="far fa-thumbs-up"></i> Like</span>
                        <span class="comment-like-bar-item"><i class="far fa-heart"></i> Love</span>
                        <span class="comment-like-bar-item"><i class="far fa-comments"></i> Comments</span>
                    </div>
                </div>
                <div class="dummy_post"></div>
                <div class="dummy_post"></div>
                <div class="dummy_post"></div>
                <div class="dummy_post"></div>
                <div class="dummy_post"></div>
                <div class="dummy_post"></div>
            </div>
            <div class="friends">
                <div class="dummy_friend">
                    <div class="friend_image">
                        <img src="{% static 'image/dummy_image.jpg' %}">
                    </div>
                    <div class="description">
                        <div class="name">Name</div>
                        <button class="deliver_message">Message</button>
                    </div>
                </div>
                <div class="dummy_friend">
                    <div class="friend_image">
                        <img src="{% static 'image/dummy_image.jpg' %}">
                    </div>
                    <div class="description">
                        <div class="name">Name</div>
                        <button class="deliver_message">Message</button>
                    </div>
                </div>
                <div class="dummy_friend">
                    <div class="friend_image">
                        <img src="{% static 'image/dummy_image.jpg' %}">
                    </div>
                    <div class="description">
                        <div class="name">Name</div>
                        <button class="deliver_message">Message</button>
                    </div>
                </div>
                <div class="dummy_friend">
                    <div class="friend_image">
                        <img src="{% static 'image/dummy_image.jpg' %}">
                    </div>
                    <div class="description">
                        <div class="name">Name</div>
                        <button class="deliver_message">Message</button>
                    </div>
                </div>
                <div class="dummy_friend">
                    <div class="friend_image">
                        <img src="{% static 'image/dummy_image.jpg' %}">
                    </div>
                    <div class="description">
                        <div class="name">Name</div>
                        <button class="deliver_message">Message</button>
                    </div>
                </div>
                <div class="dummy_friend">
                    <div class="friend_image">
                        <img src="{% static 'image/dummy_image.jpg' %}">
                    </div>
                    <div class="description">
                        <div class="name">Name</div>
                        <button class="deliver_message">Message</button>
                    </div>
                </div>
                <div class="dummy_friend"></div>
                <div class="dummy_friend"></div>
                <div class="dummy_friend"></div>
                <div class="dummy_friend"></div>
            </div>
        </div>
        <script src="{% static 'js/home.js' %}"></script>
	</body>
</html>