{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>base</title>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
	</head>
	<body>
		{% include 'accounts/temp_navbar.html' %}
		<div class="friends_slider">
			<div class="dummy">
				<img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150"/>
				<h5>Name</h5>
				<button class="message_button">Message</button>
			</div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
            <div class="dummy">
                <img src="{%static 'image/dummy_image.jpg'%}" height="150" width="150" />
                <h5>Name</h5>
                <button class="message_button">Message</button>
            </div>
		</div>
        <div class="inner_wrapper">
            <div class="posts">
                <div class="dummy_post"></div>
                <div class="dummy_post"></div>
                <div class="dummy_post"></div>
                <div class="dummy_post"></div>
                <div class="dummy_post"></div>
                <div class="dummy_post"></div>
                <div class="dummy_post"></div>
            </div>
            <div class="friends">
                <div class="dummy_friend"></div>
                <div class="dummy_friend"></div>
                <div class="dummy_friend"></div>
                <div class="dummy_friend"></div>
                <div class="dummy_friend"></div>
            </div>
        </div>
	</body>
</html>