<!DOCTYPE html>
<html>
	<head>
		<title>Navbar</title>
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link rel="stylesheet" href="navbar.css" type="text/css">
	</head>
	<body>
		<div id="wrapper">
			<div>
				<a href="#"><span id="logo">Shaadi</span></a>
				<a href="#"><span class="navitems"><i class="fas fa-home"></i> Home</span></a>
				<a href="#"><span class="navitems"><i class="fas fa-bell"></i> Notifications<span class="prompt"></span></span></a>
				<a href="#"><span class="navitems"><i class="fab fa-font-awesome-flag"></i> Messages<span class="prompt"></span></span></a>
				<a href="#"><span class="navitems"><i class="fab fa-font-awesome-flag"></i> Profile</span></a>
				<span id="special"><i class="fas fa-bars"></i></span>
			</div>
			<div id="mobile_view">
				<a href="#"><div class="mobile_items"> <span class= "mobile_inner">Home</span></div></a>
				<a href="#"><div class="mobile_items"> <span class= "mobile_inner">Notifications</span></div></a>
				<a href="#"><div class="mobile_items"> <span class= "mobile_inner">Messages</span></div></a>
				<a href="#"><div class="mobile_items"> <span class= "mobile_inner">Profile</span></div></a>
			</div>
		</div>
		<script src="navbar.js"></script>
	</body>
</html>